.mob-menu{
  color: white;
  position: fixed;
  background-color: #121212;
  top: 0;
  left: -100%;
  width: 100%;
  transition: .3s;
  z-index: 999;
  height: 100%;
  ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 5rem 5rem;
    li{
      padding: 10px 0;
      cursor: pointer;
      font-size: 20px;
      display: flex;
      align-items: center;
      span{
        font-size: 25px;
        padding-right: 5px;
      }
    }
  }
  .close{
    position: absolute;
    font-size: 3rem;
    left: 5%;
    top: 1%;
    cursor: pointer;
  }
}
.mob-menu.active{
  left: 0;
  z-index: 999;
}

.mob-menuProfile{
  color: white;
  position: fixed;
  background-color: #121212;
  bottom: -100%;
  width: 40%;
  margin-left: 50%;
  transform: translateX(-50%);
  left: 0;
  transition: .3s;
  z-index: 999;
  height: 30%;
  .close{
    position: absolute;
    font-size: 3rem;
    left: 5%;
    top: 1%;
    cursor: pointer;
  }
  img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  p{
    padding-top: 10px;
  }
  h4{
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  }
}
.mob-menuProfile.active{
  left: 0;
  bottom: 14%;
  z-index: 999;
}

.tabletProfile{
  position: fixed;
  background-color: white;
  top: -100%;
  width: 160px;
  right: 5%;
  height: 150px;
  border: 1px solid gray;
  transition: .3s;
  z-index: 999;
  .close{
    position: absolute;
    font-size: 3rem;
    left: 5%;
    top: 1%;
    cursor: pointer;
  }
  img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  p{
    text-align: center;
  }
  h4{
    width: 70%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: left;
    padding-top: 25px;
    span{
      text-align: left;
    }
  }
}
.tabletProfile.active{
  top: 11%;
  z-index: 999;
}


.headerTablet{
  margin-top: -3rem;
  padding: 2rem 5rem;
  .block{
    display: flex;
    justify-content: space-between;
    .first_block{
      h1{
        font-weight: 300;
        font-size: 39px;
        line-height: 52px;
        span{
          font-style: italic;
        }
      }
      p{
        color: #7D7D7D;
      }
      img{
        width: 200px;
        height: 180px;
        object-fit: cover;
      }
    }
    .second_block{
      img{
        width: 280px;
        height: 270px;
        object-fit: cover;
      }
    }
  }
}