footer{
  background-color: #514A7E;
  color: #fff;
  padding: 2rem; 
  height: auto;
  h2{
    margin: 0;
    text-align: left;
  }
  .icons{
    margin: 1rem 0;
    margin-left: -15px;
    span{
      margin: 0 10px;
      font-size: 20px;
    }
  }
}