.card{
    width: 330px;
    height: 500px;
    margin: 10px 15px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0px 3px rgb(183, 181, 181);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    @media screen and (max-width:425px) {
        width: 300px;
        height: 380px;
    }
    @media screen and (max-width:768px) {
        width: 250px;
        height: 340px;
    }
    
    .cardImg{
        width: 300px;
        height: 320px;
        padding: 10px;
        margin: 10px 20px;

        @media screen and (max-width:425px) {
            width: 240px;
            height: 240px;
        }
        @media screen and (max-width:768px) {
            width: 200px;
            height: 220px;
        }
        .image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        
    }
    .cardBody{
        .text{
            margin-top: -7px;
        p{
            margin-left: 25px;
        }
        .price{
            font-size: 22px;
        }
        .cardTitle{
            font-size: 17px;
            color: rgb(136, 133, 133);
        }
        .url{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .btnMore{
                border: 1px solid grey;
                padding: 7px 10px;
                font-size: 20px;
                text-decoration: none;
                background-color: white;
                color: black;
            }
    
            .iconList{
                list-style: none;
                display: flex;
                li{
                    font-size: 25px;
                    padding: 0 10px;
                }
            }
        }
        }
    }
}